<% include partials/header %>
<h3>Boilerplate</h3>
<p>Backend Framework : ExpressJS</p>
<p>View Template Engine : ejs</p>
<p>Database : Mongodb</p>
<p>Authentication : PassportJS</p>

<a href="/posts">View All posts</a>

<% include partials/footer %>
